.titulo {
    -fx-font-size: 30px;
    -fx-font-family: "Arial";
    -fx-text-fill: rgb(40, 40, 255);
    -fx-font-style: italic;
}

.rotulo-tempo {
    -fx-font-size: 24px;
    -fx-font-family: "Arial";
    -fx-text-fill: rgb(236, 255, 193);
    -fx-text-weight: bold;
    -fx-background-color: rgb(126, 126, 126);
}

.fundo {
    -fx-background-color: rgb(19, 19, 19);
}